$body-color: red;

*{
    margin: 0;
    padding: 0;
}
.box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: $body-color;
    background:no-repeat url('../img/1.jpg') ;
    .content{
        width: 600px;
        height: 600px;
        background-color: pink;
        img{
            width: 100px;
            height: 100px;
        }
    }
}